extends layout

block content
  :markdown
    # Footwork Dictionary
    
    Curated footwork techniques and concepts from professional bboys around the world.

  iframe(id='poe' src='https://www.youtube.com/embed/IWHA1DI43YE' frameborder='0' allowfullscreen)
